<div class="container-fluid px-3 px-md-4">
  <nav aria-label="Links de Salto">
    <a href="#area-comandos" class="visually-hidden-focusable">Saltar para Área de Comandos</a>
    <a href="#btn-gravar-atividade" class="visually-hidden-focusable">Saltar para Gravar Atividade</a>
    <a href="#btn-dropdown-comandos" class="visually-hidden-focusable">Saltar para Lista de Comandos</a>
  </nav>
  <div class="d-flex justify-content-center mt-5">
    <div class="back-blue col-12 col-xl-10 col-lg-11 col-md-12 mt-5 rounded">
      <header class="d-flex align-items-center py-4 px-4">
        <nav class="navbar navbar-expand-xl navbar-dark" aria-label="Menu Principal">
          <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
            aria-controls="navbarNav" [attr.aria-expanded]="!isMenuCollapsed" aria-label="Alternar navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" accesskey="ALT + I" href="#inicio" (click)="goToStart()" (keyup.space)="goToStart()"
                  [title]="'GENERAL.MENU.ALT_I' | translate">
                  <span class="box-link">1</span>
                  <span aria-hidden="true">{{ "GENERAL.MENU.START" | translate}}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" accesskey="ALT + G" href="#btn-gravar-atividade" (click)="goToGravarAtividade()"
                  (keyup.space)="goToGravarAtividade()" [title]="'GENERAL.MENU.ALT_G' | translate">
                  <span class="box-link">2</span>
                  <span aria-hidden="true">{{"GENERAL.MENU.MONITORING" | translate }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" accesskey="ALT + C" href="#btn-dropdown-comandos" (click)="goToComands()"
                  (keyup.space)="goToComands()" [title]="'GENERAL.MENU.ALT_C' | translate">
                  <span class="box-link">3</span>
                  <span aria-hidden="true">{{"GENERAL.MENU.COMANDS" | translate }}</span>
                </a>
              </li>
            </ul>

          </div>


          <!-- <button class="button-flag" (click)="changeLanguage('pt')"
          title="{{ 'GENERAL.LANGUAGES.PORTUGUESE' | translate }}">
          <img src="../assets/images/brazil.svg" width="30" />
          </button>
          
          <button class="button-flag" (click)="changeLanguage('en')"
          title="{{ 'GENERAL.LANGUAGES.ENGLISH' | translate }}">
          <img src="../assets/images/united-states.svg" width="29" />
          </button> -->


        </nav>
        <img src="../assets/images/logo_VprogForms.png" alt="Logo iVProg Forms" class="ms-auto logo-ivprog" />
      </header>

      <div id="area-comandos-terminal" class="d-flex flex-column">
        <section id="area-comandos" role="region" aria-label="Área de Comandos" tabindex="-1">
          <div class="col-12 px-4 pt-4">
            <fieldset>
              <legend class="p-1">
                <h2 tabindex="0" id="inicio"><strong> {{ "GENERAL.TITLE" | translate }}</strong></h2>
              </legend>

              <div class="row">
                <div class="col-12 pt-1 pb-4 px-4" style="text-align: right;">
                  <div class="px-4 py-1">
                    <div *ngFor="let component of components; let i = index;">
                      <app-variable *ngIf="isVariable(component)" [index]="i" [variable]="component.value"
                        [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)"
                        (change)="setStorage()">
                      </app-variable>

                      <app-write *ngIf="isWriter(component)" [index]="i" [writer]="component.value"
                        [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)"
                        (change)="setStorage()">
                      </app-write>

                      <app-operator *ngIf="isOperator(component)" [index]="i" [operator]="component.value"
                        [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)"
                        (change)="setStorage()">
                      </app-operator>

                      <app-conditional *ngIf="isConditional(component)" [index]="i" [conditional]="component.value"
                        [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)"
                        (change)="setStorage()">
                      </app-conditional>

                      <app-for *ngIf="isFor(component)" [index]="i" [for]="component.value" [components]="components"
                        [variables]="getVariables()" (remove)="removeComponent($event)" (change)="setStorage()">
                      </app-for>
                    </div>
                  </div>

                  <div id="botoes" class="d-flex flex-wrap pt-4 gap-2 justify-content-end">
                    <button id="btn-gravar-atividade" class="btn btn-sm p-3" (click)="handleMonitoring()"
                      [ngClass]="isMonitoring ? 'btn-active-recording' : 'btn-ready-recording'"
                      [title]="isMonitoring ? ('GENERAL.MENU.ALT_M_OFF' | translate) : ('GENERAL.MENU.ALT_M' | translate)">
                      <i class="bi" [ngClass]="isMonitoring ? 'bi-stop-fill' : 'bi-play-fill'"></i>
                      {{ isMonitoring ? ('GENERAL.MENU.MONITOR_OFF' | translate) : ("GENERAL.MENU.MONITOR" | translate)
                      }}
                    </button>
                    <app-command-button [components]="components" [variables]="getVariables()"
                      (change)="setStorage()"></app-command-button>
                    <div id="execution-alert" aria-live="assertive" tabindex="-1" class="sr-only">
                      {{ executionAlertMessage }}
                    </div>
                    <button class="btn btn-success p-3" id="runCodeButton" type="button" (click)="run()">
                      {{ "GENERAL.BUTTON.RUN" | translate }}
                      <span class="bi bi-play-fill mt-3 space-icon"></span>
                    </button>
                    <button class="btn btn-danger p-3" id="cleanCommands" type="button" (click)="clear()">
                      {{ "GENERAL.BUTTON.DELETE" | translate }}
                      <span class="bi bi-trash-fill space-icon"></span>
                    </button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </section>

        <div class="col-12">
          <app-terminal [isRunning]="isRunning" [showConsent]="showConsentModal" [isRecordingLog]="isRecordingLog"
            [isDownloadReady]="isDownloadReady" (acceptConsent)="onConsentAccepted()"
            (cancelConsent)="onConsentCancelled()" (downloadAction)="downloadLog()">
          </app-terminal>
        </div>
      </div>

      <footer class="d-flex flex-column flex-md-row justify-content-start align-items-center text-center text-md-start">
        <img src="../assets/images/logo_lumia.png" alt="Logo Lumia" class="logo-lumia mb-3 mb-md-0" />
        <div class="vr d-none d-md-block mx-4 my-3"></div>
        <div class="footer-copy-text d-flex flex-column mb-3 mb-md-0">
          <p>&copy; 2026 {{ "GENERAL.FOOTER.COPYRIGHT" | translate }}</p>
          <p>{{ "GENERAL.FOOTER.ALL_RIGHTS" | translate }}</p>
        </div>
        <span class="ms-md-auto mt-2 mt-md-0">{{ "GENERAL.FOOTER.VERSION" | translate }} 1.0.0</span>
      </footer>
    </div>
  </div>
</div>