<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <div class="back-blue col-xl-10 col-lg-11 col-md-12 mt-5 rounded">
      <nav class="navbar navbar-expand-md navbar-dark p-4">
        <header>
          <h1><strong>{{ "GENERAL.IVPROG" | translate }}</strong></h1>
        </header>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" accesskey="ALT + I" href="#inicio" (click)="goToStart()" (keyup.space)="goToStart()"
                [title]="'GENERAL.MENU.ALT_I' | translate"><span aria-hidden="true">{{ "GENERAL.MENU.START" | translate }}</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" accesskey="ALT + T" href="#terminal" (click)="goToTerminal()"
                (keyup.space)="goToTerminal()" [title]="'GENERAL.MENU.ALT_T' | translate"><span aria-hidden="true">{{ "GENERAL.MENU.TERMINAL" | translate }}</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" accesskey="ALT + C" href="#comands" (click)="goToComands()"
                (keyup.space)="goToComands()" [title]="'GENERAL.MENU.ALT_C' | translate"><span aria-hidden="true">{{ "GENERAL.MENU.COMANDS" | translate }}</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" accesskey="ALT + E" href="#comands" (click)="goToExecut()"
                (keyup.space)="goToExecut()" [title]="'GENERAL.MENU.ALT_E' | translate"><span aria-hidden="true">{{ "GENERAL.MENU.PROGRAM" | translate }}</span></a>
            </li>
          </ul>
          
        </div>

        <button class="button-flag" (click)="changeLanguage('pt')" title="{{ 'GENERAL.LANGUAGES.PORTUGUESE' | translate }}">
          <img src="../assets/images/brazil.svg" width="30" />
        </button>

        <button class="button-flag" (click)="changeLanguage('en')" title="{{ 'GENERAL.LANGUAGES.ENGLISH' | translate }}">
          <img src="../assets/images/united-states.svg" width="29" />
        </button>
      </nav>
      
      <section>
        <div class="col-12 px-4">
          <fieldset>
            <legend class="p-1">
              <h2 tabindex="0" id="inicio"><strong> {{ "GENERAL.TITLE" | translate }}</strong></h2>
            </legend>

            <div class="row">
              <div class="col-12 pt-1 pb-4 px-4" style="text-align: right;">
                <div class="px-4 py-1">
                  <div *ngFor="let component of components; let i = index;">
                    <app-variable *ngIf="isVariable(component)" [index]="i" [variable]="component.value"
                      [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)" (change)="setStorage()">
                    </app-variable>

                    <app-write *ngIf="isWriter(component)" [index]="i" [writer]="component.value"
                      [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)" (change)="setStorage()">
                    </app-write>

                    <app-operator *ngIf="isOperator(component)" [index]="i" [operator]="component.value"
                      [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)" (change)="setStorage()">
                    </app-operator>

                    <app-conditional *ngIf="isConditional(component)" [index]="i" [conditional]="component.value"
                      [components]="components" [variables]="getVariables()" (remove)="removeComponent($event)" (change)="setStorage()">
                    </app-conditional>

                    <app-for *ngIf="isFor(component)" [index]="i" [for]="component.value" [components]="components"
                      [variables]="getVariables()" (remove)="removeComponent($event)" (change)="setStorage()">
                    </app-for>
                  </div>
                </div>

                <div id="botoes" class="btn-group pt-4">
                  <div class="row">
                    <div class="col">
                      <app-command-button [components]="components" [variables]="getVariables()" (change)="setStorage()"></app-command-button>
                    </div>
                  </div>
                  <button class="btn btn-success p-3" id="runCodeButton" type="button" (click)="run()">
                     {{ "GENERAL.BUTTON.RUN" | translate }}
                    <span class="bi bi-play-fill mt-3 space-icon"></span>
                  </button>
                  <button class="btn btn-danger p-3" id="cleanCommands" type="button" (click)="clear()">
                   {{ "GENERAL.BUTTON.DELETE" | translate }}
                    <span class="bi bi-trash-fill space-icon"></span>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </section>

      <footer>
        <div class="col-12">
          <app-terminal [isRunning]="isRunning"></app-terminal>
        </div>
      </footer>

    </div>
  </div>