<div id="terminal" class="acessible-terminal p-4">
    <div class="bash">
        <div class="bash-title">
            <span class="bi bi-eraser-fill"></span>
            <span id="title-terminal" tabindex="0">Terminal</span>
        </div>

        <div id="ivprog-term" class="bash-body ivprog-term-div">
            <div id="ivprog-terminal-inputdiv">
                <div id="cmd">
                    <div id="cursor"></div>

                    <div *ngIf="isRunning" tabindex="0" id="textTerminal">
                        <span  tabindex="0">{{ "TERMINAL.START" | translate }}</span>
                        <span tabindex="0" id="terminalOutput"></span>
                        <span tabindex="0">{{ "TERMINAL.FINISH" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>