.inline {
    button {
        background-color: transparent !important;
        border: none;
    }
    .bi-code-slash::before{
        color: black !important;
    }
    .dropdown-toggle::after{
        color: black;
    }
}

.color-black{
    color: black !important;
}